body {
	color: #000000;
	border-top: 5px solid #7e7e7e;
    width: 60%;
    font-family: "Monotype Corsiva";
    font-size: 20px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    margin: auto; 
}

main {
    /* margin-top: 10px; */
    /* border-radius: 25px; */
    width: 100%;
    height: 500px;
    /* background-color: rgb(250, 245, 240); */
    background: url(../images/fon4.jpg) no-repeat;
    background-size: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    background-color: antiquewhite;
}

table {
    padding: 10px;
    font-family: "Gill Sans Extrabold", cursive;
    width: 60%;
    border-spacing: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

input {
    border-radius: 5px;
    height: 30px;
    width: 250px;
}

h1 {
    text-align: center;
    font-family: annabelle, cursive;
    font-weight: bold;
    font-size: 2em;
    padding: 10px; 
    color: #CEF6F5;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

button {
    margin: 10px 20px;
    padding: 5px 5px;
    border-radius: 10px;
    border: 2px solid;
    font: 16px 'Open Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    background: none;
    outline: none;
    cursor: pointer;
    transition: all .5s;

    color: #3B0B2E;
    border-color:#3B0B2E;
    background: linear-gradient(left, #A3F7BF, #A3F7BF) no-repeat;
    background-size: 0% 100%;
}

.button {
    margin-top: 40px;
    width: 30%; 
    margin: auto;
}

/* #footer {
    position: fixed;
    left: 0; bottom: 0;
    margin: 0 auto;
    background-color: rgb(250, 245, 240);
    color: #2E2E2E;
    border-radius: 30px;
    padding: 5px; clear : both;
}

#footer a {
    color: #2E2E2E;
}

#footer a:hover {
    color: #F5A9BC;
}

#footer p {
    padding: 2px;
    text-align: center;
} */