body {
	color: #3B0B24;
	/* border-top: 5px solid #7e7e7e; */
	width: 70%;
	font-family: "Monotype Corsiva";
	font-size: 20px;
	margin: 0 auto; 
	display: relative;	
}

#container {
	/* margin-top: 10px; */
	border-radius: 25px;
	background-color: #FBEFF8;
}

#logo {
	padding: 10px 15px;
}

p {
	margin: 20px 0;
}

#main {
	background: url(fon.jpg);
	max-width: 960px;
}
header {
    display: block;
    min-height: 400px;
    /* padding: 20px 0; */
}

#logo {
	height: 100px;
	margin: 0 auto;
	float: right;
  }

nav {
	margin-top: 40px;
	margin-left: 20px;
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.top-menu li.active {
	background: #F5D0A9;
	color: #fff;
}

.top-menu a {
	color:  #B40431;
	font-weight: 800;;
}

section {
	margin-top: 40px;
	text-align: center;
	flex-wrap: wrap; 
}

.section-images {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0px auto;
}

#section-menu-hot,
#section-menu-cold,
#section-menu {
	display: flex;
	justify-content: center;
	
}

.section-images img{
   height: 150px; 
   width: 200px;
   border-radius: 8px;
   margin: 10px;  

}

.nameCook {
	text-align: center;
}

.book {
	display: flex;
	justify-content: center;
	margin: 50px 0px 50px 0px;
	width: 100%;
}

button {
	margin: 20px 25px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid;
	font: 14px 'Open Sans', sans-serif;
	font-weight: 600;
  text-transform: uppercase;
  background: none;
  outline: none;
  cursor: pointer;
  transition: all .5s;
	width: 30%;
	
  color: #B40431;
  border-color:rgb(141, 53, 99);
  background: linear-gradient(left, #A3F7BF, #A3F7BF) no-repeat;
  background-size: 0% 100%;
}

a {
	text-decoration: none; 
 } 
 a:hover { 
	text-decoration: underline; 
	color: rgb(204, 59, 115);
 } 
 
 #footer {
	background: #F2F2F2;
	color: #2E2E2E;
	padding: 5px; clear : both;
	/* margin-top: 40px; */
}

#footer a {
	color: #2E2E2E;
}

#footer a:hover {
	color: #F5A9BC;
}

#footer p {
	padding: 2px;
	text-align: center;
}